<head>
<meta charset="UTF-8">
</head>

<body>
    <table id="root">
        <tr>
            <th style="width: 10%"></th>
            <th style="width: 30%">infinitif</th>
            <th style="width: 30%">preterit</th>
            <th style="width: 30%">participe passé</th>
        </tr>
        <tr v-for="verb in verbs">
            <td>{{verb}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#root",
            data: {
                allverbs: [
                    "parier",
                    "coûter",
                    "couper",
                    "blesser",
                    "faire",
                    "mal",
                    "mettre",
                    "fermer",
                    "apporter",
                    "construire.",
                    "brûler",
                    "acheter",
                    "attraper",
                    "distribuer",
                    "creuser",
                    "rêver",
                    "nourrir",
                    "sentir",
                    "ressentir",
                    "se battre",
                    "trouver",
                    "obtenir",
                    "suspendre",
                    "avoir",
                    "entendre",
                    "tenir",
                    "mettre",
                    "étendre",
                    "apprendre",
                    "laisser",
                    "quitter.",
                    "prêter",
                    "allumer",
                    "faire",
                    "fabriquer",
                    "signifier",
                    "vouloir",
                    "dire",
                    "rencontrer",
                    "payer",
                    "lire",
                    "dire",
                    "vendre",
                    "envoyer",
                    "sentir (odeur)",
                    "s'asseoir",
                    "dormir",
                    "épeler",
                    "enseigner",
                    "raconter",
                    "penser",
                    "comprendre",
                    "gagner",
                    "devenir",
                    "venir",
                    "courir",
                    "être",
                    "(sup)porter",
                    "battre",
                    "mordre",
                    "souffler",
                    "casser",
                    "choisir",
                    "faire",
                    "dessiner",
                    "conduire",
                    "manger",
                    "tomber",
                    "voler (en l'air)",
                    "interdire",
                    "oublier",
                    "donner",
                    "aller",
                    "grandir",
                    "pousser",
                    "cacher",
                    "savoir",
                    "voir",
                    "parler",
                    "voler (qqch)",
                    "prendre",
                    "(se)réveiller",
                    "ecrire",
                    "porter (habits)",
                    "commencer",
                    "boire",
                    "sonner",
                    "chanter",
                    "nager"
                ]
            },
            computed: {
              verbs: function () {
                return _.shuffle(this.allverbs).slice(0,20)
              }
            }
        })
    </script>
    <style media="screen,print">
      table {
        width: 100%;
        font-family: sans-serif;
        font-size: 15pt;
      }
      th {
        background: gray;
        color: white;
      }
      td {
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
      }
    </style>
</body>
